
    <br>
   
     <body class ="homescreen"> 

    <br><br><br><br><br>
<h1><center>Welcome to User's EHR portal</center></h1>


        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div>
            <ul class="nav navbar-nav side-nav">
                
                <li>
                   
                    <a href="home" id="profile" {{action "show"}}><font color="black">Profile</font></a>
                   </li>
                <li>
                   <a href="home" id="profile1" {{action "show1"}}><font color="black">Hospital Records</font></a>
                    
                </li>
                <li>
                   <a href="home" id="profile0" {{action "shows"}}><font color="black">Lab Reports</font></a>
                    
                </li>
                <li>
                    <a href="home" id="profile2" {{action "show2"}}><font color="black">Medication</font></a>
                </li>
                <li>
                    <a href="home" id="profile3" {{action "show3"}}><font color="black">FirstAid Info</font></a>
                </li>
                <li>
                    <a href="home" id="profile4"{{action "show4"}}><font color="black">Logout</font></a>
                </li>
            </ul>
            </div>
        
        
    </body>
    
        