
    <body class="homescreen">
   {{!-- <h1>Welcome to EHR Doctor's portal</h1> --}}
    <div class="container">
                <div class="row">
                    <div class="col-xs-4 col-xs-offset-4">
<div>
    
    <h1><br>Profile</h1>
</div>


                        <img class="img-responsive picture" src="http://www.kusalimika.ch/file/2017/02/avaar.jpg">
                        <div>
                            <h5 class="text-bold"></h5>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-xs-offset-4 text-left">
                        <div class=" col-xs-6 tital">Patient Name:</div>
                        <div class=" col-xs-6 ">K.Suresh Kumar</div>
                        <div class="clearfix"></div>
                        <div class="bot-border"></div>

                        <div class="col-xs-6 tital ">Patient Id:</div>
                        <div class="col-xs-6">P0PP123456</div>
                        <div class="clearfix"></div>
                        <div class="bot-border"></div>

                        <div class="col-xs-6 tital ">Gender:</div>
                        <div class="col-xs-6">Male</div>
                        <div class="clearfix"></div>
                        <div class="bot-border"></div>

                         <div class="col-xs-6 tital ">D.O.B:</div>
                        <div class="col-xs-6">21/01/1983</div>
                        <div class="clearfix"></div>
                        <div class="bot-border"></div>

                        <div class="col-xs-6 tital ">Age:</div>
                        <div class="col-xs-6">35 years old</div>
                        <div class="clearfix"></div>
                        <div class="bot-border"></div>

                        <div class="col-xs-6 tital "> Contact no:</div>
                        <div class="col-xs-6">9988771122</div>
                        <div class="clearfix"></div>
                        <div class="bot-border"></div>
                        
                        <div class="col-xs-6 tital "> Address:</div>
                        <div class="col-xs-6">22,Nehru nagar,Saidapet,Chennai</div>
                        <div class="clearfix"></div>
                        <div class="bot-border"></div>

<div class="col-xs-6 tital ">Occupation</div>
                        <div class="col-xs-6">Farmer</div>
                        <div class="clearfix"></div>
                        <div class="bot-border"></div>
                
                <div class="col-xs-6 tital "> Blood Group</div>
                        <div class="col-xs-6">O+ve</div>
                        <div class="clearfix"></div>
                        <div class="bot-border"></div>

                        <div class="col-xs-6 tital ">Aadhar no:</div>
                        <div class="col-xs-6">151121213111</div>
                        <div class="clearfix"></div>
                        <div class="bot-border"></div>
                    </div>
                </div>    
                 <div>
            <ul class="nav navbar-nav side-nav">
                <li>
                   
                    <a href="home" id="profile" {{action "show0"}}><font color="black">Home</font></a>
                   
                </li>
                <li>
                   
                    <a href="home" id="profile" {{action "show"}}><font color="black">Profile</font></a>
                   
                </li>
                <li>
                   <a href="home" id="profile1" {{action "show1"}}><font color="black">Hospital Records</font></a>
                    {{!-- <ul id="submenu-2" class="collapse">
                        <li><a href="#"><i class="fa fa-angle-double-right"></i> SUBMENU 2.1</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i> SUBMENU 2.2</a></li>
                        <li><a href="#"><i class="fa fa-angle-double-right"></i> SUBMENU 2.3</a></li>
                    </ul> --}}
                </li>
                <li>
                   <a href="home" id="profile0" {{action "shows"}}><font color="black">Lab Reports</font></a>
                    
                </li>
                <li>
                    <a href="home" id="profile2" {{action "show2"}}><font color="black">Medication</font></a>
                </li>
                <li>
                    <a href="home" id="profile3" {{action "show3"}}><font color="black">FirstAid Info</font></a>
                </li>
                <li>
                    <a href="home" id="profile4" {{action "show4"}}><font color="black">Logout</font></a>
                </li>
            </ul>
            </div>
        </div>
         </body>
         
   



